@import "variables";

@import "../valo/valo";

.valo-facebook { 
	@include valo;
}

/*@media (min-resolution: 2dppx){
	html * {
		-webkit-text-size-adjust: 200%;
		-moz-text-size-adjust: 200%;
		-ms-text-size-adjust: 200%;
		-o-text-size-adjust: 200%;
		text-size-adjust: 200%;
	}
}*/

/*****MENUS*****/
.v-menubar-desk-menu {
	display: block !important;
}
	
.v-tabsheet-tabcontainer {
	display: block !important;
}
	
.v-horizontallayout-touch-menu {
	display: none !important;
}

@media (min-resolution: 2dppx){
	.v-slot-responsive { 
		width: 100%;
		margin: auto;
	}
	
	/*****MENUS*****/
	.v-menubar-desk-menu {
		display: none !important;
	}
	
	.v-tabsheet-tabcontainer {
		display: none !important;
	}	
	
	.v-horizontallayout-touch-menu {
		display: block !important;
	}
}

@media screen and (min-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	.v-slot-responsive { 
		width: 100%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 100%;
		height: 75%;
		margin: auto;
	}
	
	.m-small-field .m-medium-field .m-large-field .m-xlarge-field {
		width: 100%;
	}
}

@media screen and (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
	.v-slot-responsive { 
		width: 100%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 100%;
		height: 75%;
		margin: auto;
	}
	
	.m-small-field {
		width: 75%;
	}
	
	.m-medium-field .m-large-field .m-xlarge-field {
		width: 100%;
	}
}

@media screen and (min-width: 600px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	.v-slot-responsive { 
		width: 80%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 100%;
		height: 75%;
		margin: auto;
	}
	
	.m-small-field {
		width: 50%;
	}
	
	.m-medium-field {
		width: 75%;
	}
	
	.m-large-field .m-xlarge-field {
		width: 100%;
	}
}

@media screen and (min-width: 801px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.v-slot-responsive {
		width: 50%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 100%;
		height: 75%;
		margin: auto;
	}
}

@media screen and (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
	.v-slot-responsive {
		width: 30%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 75%;
		height: 75%;
		margin: auto;
	}
}

@media screen and (min-width: 1281px) { 
	/* hi-res laptops and desktops */
	.v-slot-responsive {
		width: 30%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 75%;
		height: 75%;
		margin: auto;
	}
}