@import "variables";

@import "../valo/valo";

.valo-facebook { 
	@include valo;
}

.v-menubar-borderless .v-menubar-menuitem {
	color: white !important;
}

.v-button-borderless-colored {
	color: white !important;
}

.v-verticallayout-area-trabalho {
	background-color: $v-app-background-color;
}

@media screen and (min-width: 320px) {
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	
	/*****MENUS*****/
	.v-menubar-desk-menu {
		display: none !important;
	}
	
	.v-tabsheet-tabcontainer {
		display: none !important;
	}	
	
	.v-horizontallayout-touch-menu {
		display: block !important;
	}
	
	.v-slot-responsive { 
		width: 100%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 100%;
		height: 75%;
		margin: auto;
	}
	
	.m-small-field, .m-medium-field, .m-large-field, .m-xlarge-field {
		width: 100% !important;
	}
	
	.v-slot-quiet .v-button-quiet .v-button-wrap .v-button-caption {
		display: none !important;
	}
}

@media screen and (min-width: 480px) {
	/* smartphones, Android phones, landscape iPhone */
	
	/*****MENUS*****/
	.v-menubar-desk-menu {
		display: none !important;
	}
	
	.v-tabsheet-tabcontainer {
		display: none !important;
	}	
	
	.v-horizontallayout-touch-menu {
		display: block !important;
	}
	
	.v-slot-responsive { 
		width: 80%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 100%;
		height: 75%;
		margin: auto;
	}
	
	.m-small-field {
		width: 50% !important;
	}
	
	.m-medium-field, .m-large-field, .m-xlarge-field {
		width: 100% !important;
	}
	
	.v-slot-quiet .v-button-quiet .v-button-wrap .v-button-caption {
		display: none !important;
	}
}

@media screen and (min-width: 600px) {
	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	
	/*****MENUS*****/
	.v-menubar-desk-menu {
		display: none !important;
	}
	
	.v-tabsheet-tabcontainer {
		display: none !important;
	}	
	
	.v-horizontallayout-touch-menu {
		display: block !important;
	}
	
	.v-slot-responsive { 
		width: 75%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 100%;
		height: 75%;
		margin: auto;
	}
	
	.m-small-field {
		width: 30% !important;
	}
	
	.m-medium-field {
		width: 60% !important;
	}
	
	.m-large-field, .m-xlarge-field {
		width: 100% !important;
	}
	
	.v-slot-quiet .v-button-quiet .v-button-wrap .v-button-caption {
		display: inline !important;
	}
}

@media screen and (min-width: 801px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	
	/*****MENUS*****/
	.v-menubar-desk-menu {
		display: block !important;
	}
	
	.v-tabsheet-tabcontainer {
		display: block !important;
	}	
	
	.v-horizontallayout-touch-menu {
		display: none !important;
	}
	
	.v-slot-responsive {
		width: 50%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 100%;
		height: 75%;
		margin: auto;
	}
	
	.m-small-field {
		width: 25% !important;
	}
	
	.m-medium-field {
		width: 50% !important;
	}
	
	.m-large-field {
		width: 75% !important;
	}
	
	.m-xlarge-field {
		width: 100% !important;
	}
	
	.v-slot-quiet .v-button-quiet .v-button-wrap .v-button-caption {
		display: inline !important;
	}
}

@media screen and (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
	
	/*****MENUS*****/
	.v-menubar-desk-menu {
		display: block !important;
	}
	
	.v-tabsheet-tabcontainer {
		display: block !important;
	}	
	
	.v-horizontallayout-touch-menu {
		display: none !important;
	}
	
	.v-slot-responsive {
		width: 45%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 75%;
		height: 75%;
		margin: auto;
	}
	
	.m-small-field {
		width: 20% !important;
	}
	
	.m-medium-field {
		width: 40% !important;
	}
	
	.m-large-field {
		width: 75% !important;
	}
	
	.m-xlarge-field {
		width: 100% !important;
	}
	
	.v-slot-quiet .v-button-quiet .v-button-wrap .v-button-caption {
		display: inline !important;
	}
}

@media screen and (min-width: 1281px) { 
	/* hi-res laptops and desktops */
	
	/*****MENUS*****/
	.v-menubar-desk-menu {
		display: block !important;
	}
	
	.v-tabsheet-tabcontainer {
		display: block !important;
	}	
	
	.v-horizontallayout-touch-menu {
		display: none !important;
	}
	
	.v-slot-responsive {
		width: 35%;
		margin: auto;
	}
	
	.v-window-subwindow {
		width: 75%;
		height: 75%;
		margin: auto;
	}
	
	.m-small-field {
		width: 15% !important;
	}
	
	.m-medium-field {
		width: 30% !important;
	}
	
	.m-large-field {
		width: 60% !important;
	}
	
	.m-xlarge-field {
		width: 100% !important;
	}
	
	.v-slot-quiet .v-button-quiet .v-button-wrap .v-button-caption {
		display: inline !important;
	}
}